:root {
    --color-primary: #4b8c5e;
    --color-primary-light: #76bd9f;
    --color-primary-lightest: #d6ecdc;
    --color-secondary: #76bda4;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
    /* font-family: "Inter", sans-serif; */
}

.dashboardcontent html{
    font-size: 70% !important;
}


.all {
    display: grid;
    place-items: center;
    grid-template-columns: 8rem 1fr;
}

.dashboardcontent {
    color: #444;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    width: 99%;
    background-color: #fff;
    z-index: 5;
    padding: 4rem 1rem 2rem 1rem;
}

section {
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
}

section>h2 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    /* font-weight: 400; */
    color: var(--color-primary);
}


main {
    display: grid;
    /* grid-template-columns: 16fr 5fr;
    grid-template-rows: auto auto; */
    gap: 2rem;
}

.grid-area-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.grid-area-1-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.grid-area-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    gap: 2rem;
}

.last-week {
    /* grid-column: 2 / 3; */
    grid-row: 2 / 3;
}

.distance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.distance__section {
    position: relative;
}

.distance__section::after {
    content: "";
    height: 80%;
    width: 1.6rem;
    background-color: var(--color-primary-light);
    position: absolute;
    right: 0;
    top: 10%;
    border-radius: 1.2rem 0 0 1.2rem;
    box-shadow: inset 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.distance p {
    color: var(--color-primary);
    font-size: 2rem;
}

.distance .distance__section>h2 {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0;
}

.distance img {
    height: 4rem;
    color: var(--color-primary);
    margin-top: 2rem;
}

.weekly {
    background-color: #76bda4;
    color: white;
}

.weekly h2 {
    color: #fff !important;
}

.weekly table {
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
    margin: 2rem 0;
    color: white;
}

.weekly td {
    padding: 0.8rem 0.2rem;
}

.last-week__legend-last-week {
    color: var(--color-primary);
    width: 5px;
    height: 5px;
}

.last-week__legend-this-week {
    color: var(--color-secondary);
    width: 5px;
    height: 5px;
}
.last-week__legends {
    text-align: right;
}
.recent {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* height: 100%; */
}

.recent a {
    align-self: end;
}

.recent table {
    font-size: 1.3rem;    
    width: calc(100% + 4rem);
    text-align: left;
    margin: 2rem -2rem 0.5rem -2rem;
    border: none;
}

.recent tr:nth-of-type(even) {
    background-color: var(--color-primary-lightest);
}

.recent td {
    padding: 0.8rem 0.2rem;
}

.recent img {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.3rem;
    color: var(--color-primary);
    margin-left: 2rem;
}

.dashboardcontent a {
    font-size: 1.3rem;
    color: var(--color-primary);
    text-decoration: none;
    display: block;
    padding-bottom: 0.2rem;
    margin: 1rem 0;
    border-bottom: 1px solid currentColor;
    letter-spacing: 3px;
    align-self: end;
    margin-right: 1rem;
}
.rights a {
    font-size: 1.6rem;
    color: var(--color-primary);
    text-decoration: none;
    display: block;
    padding-bottom: 0.2rem;
    /* margin: 1rem 0; */
    border-bottom: 1px solid currentColor;
    letter-spacing: 3px;
    align-self: end;
    margin-right: 1rem;
}
.challenges {
    display: grid;
    /* grid-template-rows: repeat(auto-fill, minmax(1.5rem, auto)); */
    gap: 0.8rem;
    /* padding-bottom: 2rem; */
}

.challenges__bar {
    width: 100%;
    height: 1.4rem;
    /* Adjust as needed */
    border-radius: 0.7rem;
    background-color: #d9d9d9;
    position: relative;
}

.challenges__bar-fill {
    height: 100%;
    border-radius: 0.7rem;
    background-color: var(--color-primary);
}


.challenges__text {
    font-size: 1.4rem;
}

.last-week {
    display: flex;
    flex-direction: column;
}

.last-week__chart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    /* margin-top: 2rem; */
    padding-top: 4rem;
    border-bottom: 1px solid #757575;
    align-items: end;
}

.last-week__bar {
    width: 3.5rem;
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: var(--color-primary);
    height: 20rem;
}

.last-week__bar--1 {
    justify-self: end;
    height: 17rem;
}

.last-week__bar--2 {
    height: 20rem;
}

.last-week__bar--3 {
    justify-self: end;
    background-color: var(--color-primary-light);
    height: 15rem;
}

.last-week__bar--4 {
    background-color: var(--color-primary-light);
    height: 12rem;
}

.last-week__bar--5 {
    justify-self: end;
    background-color: var(--color-secondary);
    height: 10rem;
}

.last-week__bar--6 {
    background-color: var(--color-secondary);
    height: 16rem;
}

.last-week__bar>p {
    font-size: 1.4rem;
    text-align: center;
    transform: translateY(-2rem);
}

.last-week__labels {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    font-size: 1.2rem;
    margin: 1rem 0;
}

@media (max-width: 1500px) {
    body {
        padding: 0;
    }

    nav,
    .content {
        border-radius: 0;
    }
}

@media (max-width: 1250px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 950px) {
    .grid-area-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr auto;
    }

    .grid-area-1-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .last-week {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .grid-area-3 {
        grid-template-rows: auto auto auto;
    }

    .challenges {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .personal-bests {
        grid-column: 1 / 3;
    }
}

@media (max-width: 750px) {
    .grid-area-1-2 {
        display: flex;
        flex-direction: column;
    }

    .all {
        grid-template-columns: 1fr;
    }

    nav {
        display: none;
    }

    .content {
        padding: 2rem 1rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

