*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body, input{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#form-main-wrapper{
    width:100%;
    height:100vh;
    /* background:#4f3928; */
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('../image/bg_admin.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.form-container{
    width:450px;
    padding:20px 15px;
    
}


.admin-avtar{
    text-align:center;    
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.admin-avtar h1 {
    font-size: 28px;
    font-weight: 400;
    margin-left: 15px;
    color:#4f3928;
}


.form-con label{
    display:block;
    font-weight:500;
    margin-bottom:5px;
}

.form-con input {
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 400;
    outline:none;
    /* border:1px solid #fff;
    background-color:#fff; */
    border-radius: 15px;
}

label[for="rem-me"] {
    margin-bottom: 0px;
}

.field-con {
    margin-bottom: 20px;
}

.field-con:last-child {
    margin-bottom: 0px;
}

.flex{
    display:flex;
}

.form-btn-con input{
    display:inline-block;
    width:unset;
}

.remember-me{
    display:block;
    width:100%;
    display:flex;
    align-items:center;
    
}

.form-btn-con input[type=checkbox]{
    margin-right:10px;
}



.add-links{
    margin-top:50px;
}

.add-links a{
    display:block;
    margin:10px 0;
    font-size:18px;
    color:#fff;
}
.add-links :hover {
    color: yellow;
  }

.form{
    background:#fff;
    opacity: 0.7;
    padding:40px 30px;
    box-shadow: 0px 16px 40px rgba(0, 0, 0,0.25);
    border-radius: 10px 40px;
}


.form-submit {
    background-color: #4f3928;
    border: none;
    color: #fff;
    padding: 8px 30px !important;
    border:2px solid transparent;
    font-weight:500 !important;
    transition: 300ms ease-in-out;
    cursor:pointer;
    border-radius: 15px;
}

.form-submit:hover{
    background-color:#fff;
    border:2px solid #4f3928;
    color:#4f3928;
}

@media screen and (max-width:576px){
    .flex.form-btn-con {
    flex-direction: column;
    }

    .sub-btn-wrap {
        text-align: center;
        margin-top: 25px;
        
    }

    .form {
        padding: 40px 20px;
    }

    .admin-avtar h1 {
        font-size: 25px;
    }
}

.form-submit[disabled] {
    background-color: rgba(128, 128, 128);
    pointer-events: none;
  }